@model ExampleProject.Models.BucketModel

<p>Bucket ID : @Model.id </p>
<p>Bucket Description : @Model.desc </p>

<a asp-area="" asp-controller="Example" asp-action="listAllBuckets">All Buckets</a>






